.tab-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
  display: flex;
}

.tab-list-item {
  display: block;
  background-color: inherit;
  margin-right: 2px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-bottom: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tab-list-item:hover {
  background-color: #ddd;
}

.tab-list-item.active {
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab-content {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: -1px; /* Removes the double border between tabs and content */
}
